body .background,
.jumbotron {
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;
  background-image: url('http://i.imgur.com/Ixwl8n4.png');
  background-size: cover;
  background-attachment: fixed;
  margin-top: 0px;
 
}

.col-sm-4{
	margin-right: 20px;  
}

header .row,
footer .row {
  display: flex;
  align-items: center;
  background-color: Black;
  color: White;
}

header p:hover {
  color: #E30E0E;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  margin: 0 auto;
  font-family: 'Quicksand', sans-serif;
  color: #E30E0E;
  background-color: Black;
  height: 325px; 
  width: 200px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 2px solid White;
  border-bottom: 2px solid White;
}

#you {
  color: White;
}

#you2 {
  color: #E30E0E;
  font-size: 42px;
}
.jumbotron h3 {
  margin:  20px 20px;
  color: White;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #E30E0E;
  text-shadow: none;
  background-color: White;
}

.btn.btn-primary:hover {
  color: White;
  background-color: #E30E0E;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}
